<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
  <style media="screen">
.hello-msg{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="{% url 'home' %}">Diary</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
    {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

    {% endif %}
  </ul>
</div>
<span class="hello-msg">Hello, {{request.user}}</span>
<span class="hello-msg"><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Dear Diary
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">

        <form method="POST" action="{% url 'add' %}">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        {{ form.as_p }}
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </form>
        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>
